/******************** Footer Css Start ********************/
.site-footer{width:100%;display:block;text-align:center;}
.site-footer .footer-wrap{border-top:1px solid rgba(255,255,255,0.1);padding:50px 0;}
.site-footer .footer-wrap .footer-logo a{line-height:0;margin-bottom:30px;display:inline-block;}
.site-footer .footer-wrap .footer-logo{display:inline-block;line-height:0;margin-bottom:30px;}
.site-footer .footer-wrap .footer-logo a img{width:85px;}
.site-footer .footer-wrap .footer-menu{display:flex;flex-wrap:wrap;align-items:center;justify-content:center;gap:40px;margin-bottom:30px;}
.site-footer .footer-wrap .footer-menu li a{font-size:16px;line-height:1;color:#676767;font-weight:600;transition:all 0.3s linear;}
.site-footer .footer-wrap .footer-menu li a:hover{color:#fff;}
.social-icons{display:flex;align-items:center;justify-content:center;gap:20px;margin-bottom:30px;}
.social-icons li{line-height:0;}
.social-icons li a{display:flex;align-items:center;justify-content:center;width:60px;height:60px;text-align:center;line-height:60px;color:#fff;border-radius:50%;font-size:25px;transition:all 0.3s linear;position: relative;}
.social-icons li a:hover{background:#fff;color:#000;}
.social-icons li a:before,
.social-icons li a:after{border-radius:50%;}
.site-footer .footer-wrap .copyright{color:#727272;margin:0;}
.site-footer .footer-wrap .copyright span{color:#5B78F6;}

@media screen and (max-width:767px){
  .site-footer .footer-wrap .social-icons li a{width:50px;height:50px;line-height:50px;font-size:20px;}
}
/******************** Footer Css End ********************/